# Credenciales
*.env
.env.*

# Visual Studio
.vs/
*.suo
*.user
[Bb]in/
[Oo]bj/

# Eclipse
.metadata/
.settings/
.classpath
.project

# Compilados Java
[Tt]arget/

# Compilados generales
*.dll
*.exe
*.pdb
*.cache
*.class


*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

